img {
  width: 200px;
  display: block;
  margin: 5px auto;
}

.mainPage {
  display: block;
  margin: 5px auto;
  width: 95%;
}

.sidebar {
  border: solid 1px;
  height: 80%;
  width: 30%;
  min-width: 230px;
  max-width: 400px;
  float: left;
  margin: 10px;
  background-color: #dadada;
}

.sidebar p {
  font-size: 24px;
  padding: 10px;
}

.mainPage-body {
  height: 80%;
  width: 70%;
  float: left;
  margin: 30px auto;
  display: block;
}

.mainPage-body p {
  border: 2px solid black;
  font-size: 20px;
  background-color: ivory;
  margin: 20px auto;
  padding: 20px;
  width: 50%;
  text-align: center;
  display: flex;
}